/* Bannière accueil avec l'image de désert */
.banniere {
    position: relative;
    text-align: left;  /* Aligne le texte à gauche */
    color: rgb(255, 255, 255);
    padding: 4rem 2rem; /* Ajuste la taille de la bannière */
    height: 70vh;  /* Réduit la hauteur de la bannière pour la rendre plus compacte */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;  /* Pour éviter que l'image dépasse */
  }
  .banniere h1 {
    color: rgb(0, 0, 0);
  }
  
  .background-image-fallback {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Pour que l'image prenne toute la largeur sans déformation */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  /* Assure que l'image est derrière le texte */
    animation: zoomBanner 30s ease-in-out infinite;  /* Animation du zoom sur l'image */
  }
  
  /* Animation d'effet zoom sur l'image de fond */
  @keyframes zoomBanner {
    0% {
      background-size: 100%;
    }
    100% {
      background-size: 110%;  /* Zoom léger sur l'image */
    }
  }
  
  /* Contenu de la bannière : texte et bouton */
  .banner-content {
    z-index: 1;
    max-width: 600px;  /* Limite la largeur pour ne pas trop étirer le texte */
  }
  
  h1 {
    font-size: 5rem;  /* Agrandit le texte */
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000;
  }


  